@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to students preview</h1>

This website lets you add students and consult all the students register in the website. 
<p>It will also let you update and delete them.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
